VITE_APP_DOMAIN=localhost
VITE_APP_PLATFORM_HOST=app
VITE_API_URL=http://localhost:5000/api
VITE_ZITADEL_AUTHORITY=http://localhost:8080
VITE_ZITADEL_CLIENT_ID=
VITE_ZITADEL_PROJECT_ID=
VITE_BRAND_NAME=Kustodela POS
